{% extends "./layouts/base.html" %}
{% load static %}

{% block pagecontent %}
{% block title %}
<div class="row">
    <div class="col-md-5">
        <h4>Лучшие вопросы</h4>
    </div>
    <div class="col-md-5">
        <a href="{% url 'main_page' %}">
            <h4>Новые вопросы</h4>
        </a>
    </div>
</div>
{% endblock %}
{% with questions=page.object_list %}
{% for question in questions %}
    {% include "components/question_card.html" %}
{% endfor %}
<footer>
{% include "components/pagination.html" %}
{% endwith %}
</footer>
{% endblock %}