{% extends "./layouts/base.html" %}
{% load static %}

{% block pagecontent %}
    {% include "components/question_card.html" %}
    <hr class="separator-line" />
    {% with answers=page.object_list.all %}
    {% for answer in answers %}
        {% include "components/answer_card.html" with index=forloop.counter %}
    {% endfor %}
    <hr class="separator-line" />
    <div class="container-fluid">
        <form>
            <div class="form-group row my-3">
                <div class="col-md-12">
                    <textarea class="form-control" id="answer" placeholder="Знаете ответ на этот вопрос? Напишите!"></textarea>
                </div>
            </div>
            <div class="form-group row my-3">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Отправить ответ</button>
                </div>
            </div>
        </form>
    </div>
<footer>
{% include "components/pagination.html" %}
</footer>
{% endwith %}
{% endblock %}