{% load static %}

<div class="container-fluid my-4 block-layout">
    <div class="row py-1 ">
        <div class="col-md-1 justify-content-end">
            <img src="{% static 'img/default_avatar.svg' %}" style="width: 70px; height: 70px;" alt="Аватар">
        </div>
        <div class="col-md-8 px-5 justify-content-center">
            <h4 class="text-start text-truncate">
                <a href="{% url 'question_page' question.id %}">{{ question.title }}</a>
            </h4>
        </div>
    </div>
    <div class="row py-1 align-items-center ">
        <div class="col-md-8 offset-md-1 px-5 justify-content-center">
            {{ question.text }}
        </div>
    </div>
    <div class="row py-1 align-items-center ">
        <div class="col-md-1">
            <input class="w-100" type="number" value="0" step="1">
        </div>
        <div class="col-md-3">
            <a href="{% url 'question_page' question.id %}">
                <h6>Ответов: {{ question.answer_count }}</h6>
            </a>
        </div>
        <div class="col-md-1 align-items-end">
            <h6>Тэги: </h6>
        </div>
        <div class="col-md-7 justify-content-center">
            <ul class="list-inline">
                {% for question_tag in question.tags.all %}
                <li class="list-inline-item">
                    <a href="{% url 'tag_page' question_tag%}">{{ question_tag }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>